---
- name: Create gitignore
  file:
    path: '/etc/.gitignore'
    state: touch
  changed_when: False

- name: Add entries to .gitignore
  lineinfile: 
    dest: '/etc/.gitignore'
    insertbefore: BOF
    line: "{{ item }}"
  with_items:
    - "{{ etckeeper_gitignore }}"
  when: etckeeper_vcs == 'git'

- name: Install etckeeper
  package:
    name: "{{ item }}"
    state: latest
  with_items:
    - "{{ etckeeper_vcs }}"
    - etckeeper
  notify: Record changes in etckeeper

- name: Configure etckeeper disable bzr
  lineinfile:
    dest=/etc/etckeeper/etckeeper.conf
    regexp='^.*(VCS="bzr")'
    line='#\1'
    backrefs=yes
  register: bzr_config_status

- name: Configure etckeeper enable VCS
  lineinfile:
    dest=/etc/etckeeper/etckeeper.conf
    regexp='^.*(VCS="{{ etckeeper_vcs }}")'
    line='\1'
    backrefs=yes
  register: vcs_config_status

- name: Check if repository has been initialized
  shell: "test -d /etc/.git && git -C /etc log -n 1"
  changed_when: False
  failed_when: False
  ignore_errors: True
  register: vcs_repo_status
  when: etckeeper_vcs == 'git'

- name: Initialize etckeeper repository
  command: etckeeper init
  when: bzr_config_status|changed or vcs_config_status|changed or (etckeeper_vcs == 'git' and vcs_repo_status.rc != 0)

- name: Make initial commit
  command: etckeeper commit "Initial commit"
  when: bzr_config_status|changed or vcs_config_status|changed or (etckeeper_vcs == 'git' and vcs_repo_status.rc != 0)

- name: Install tig (git ncurses interface)
  package:
    name: tig
    state: latest
  when: etckeeper_vcs == 'git'

- name: Git user configuration (run only once)
  shell: cd /etc/ && git config --global user.name "{{ etckeeper_git_user_name }}" && git config --global user.email "{{ etckeeper_git_user_email }}" && git commit --amend --reset-author -m "configure author" && touch /etc/.etckeeper.initialized
  args:
    creates: /etc/.etckeeper.initialized
  when: etckeeper_vcs == 'git'
